body {
    background-image: url("./logo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Arial', sans-serif;
}

.wrapper {
    display: flex;
    position: relative;
    margin-top: 8%;
}